* {
   margin: 0;
   padding: 0;
}

body {
   font-family: sans-serif;
}

header,
section {
   padding: 0 2% 0;
}

a {
   text-decoration: none;
   color: #fff;
}

.wrapper {
   max-width: 100%;
}

header {
   padding-bottom: 10%;
   background-color: #87509c;
}

.logo {
   color: #ffffff;
   font-size: 30px;
   font-weight: bold;
}

nav {
   padding-top: 5%;
   margin: 0 auto;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

h1 {
   margin-top: 10%;
   font-size: 40px;
   max-width: 70%;
}

body>div>header>div {
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.logo {
   margin-left: 2%;
}

.menu {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}

.menu a {
   text-transform: uppercase;
}

.menu ul {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: distribute;
   justify-content: space-around;
   height: 100%;
}

.menu li {
   margin-right: 40px;
   list-style: none;
   text-align: center;
   padding-top: 1.5%;
}

.menu li:hover {
   background-color: #643a79;
   border-radius: 4px;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

.title {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
}

button.work {
   width: 290px;
   height: 70px;
   background-color: #eb7d4b;
   color: #ffffff;
   font-size: 16px;
   text-transform: uppercase;
   margin-top: 60px;
   border-radius: 4px;
   cursor: pointer;
   -webkit-box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
   box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
}

.service {
   background-color: #17c2a4;
}

.chapter_one,
.chapter_two,
.chapter_three,
.chapter_four,
.chapter_five,
.chapter_six {
   max-width: 700px;
   margin: 0 auto;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
}

.chapter_one h2,
.chapter_two h2,
.chapter_three h2,
.chapter_four h2,
.about h2,
.chapter_six h2 {
   text-align: center;
   margin-top: 80px;
   text-transform: uppercase;
}

.chapter_one p,
.chapter_two p,
.chapter_three p,
.chapter_four p,
.chapter_five p {
   font-size: 20px;
   text-align: center;
}

.image {
   margin: 25px auto;
}

.servise-wrope,
.meet-wrope,
.experience-wrope {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: distribute;
   justify-content: space-around;
   margin: 0 auto;
   margin-top: 120px;
}

.experience-box {
   width: 25%;
}

.servise-box {
   width: 15%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   padding-bottom: 130px;
}

.servise-box h3,
.experience-wrope h3 {
   text-transform: uppercase;
   font-size: 16px;
   margin: 60px 0 30px 0;
}

h1,
.servise-box,
.chapter-style p,
.chapter-style h2 {
   text-align: center;
   color: #ffffff;
}

.servise-box img {
   max-width: 100%;
}

.meet {
   background-color: #e7f1f8;
}

.meet-box {
   text-align: center;
   max-width: 25%;
}

.meet-box h3 {
   text-transform: uppercase;
   font-size: 16px;
   margin: 60px 0 10px 0;
}

p.skill {
   color: #30bae7;
   margin-bottom: 20px;
}

.meet-box h3,
.meet-box>p:last-child,
.experience-box h3 {
   color: #27283d;
}

.meet-box>p:last-child {
   font-size: 14px;
}

.sotials {
   width: 120px;
   margin: 20px auto 40px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: distribute;
   justify-content: space-around;
}

.base {
   width: 25px;
   height: 25px;
   border-radius: 50px;
   background-color: #bdd1df;
}

.base img {
   padding: 20% 0 0 5%;
}

.meet-sotial-box {
   max-width: 90%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: distribute;
   justify-content: space-around;
   margin: 0 auto;
   padding-bottom: 130px;
}

.meet-box img {
   max-width: 100%;
}

.meet-box>div {
   padding: 2%;
}

section.experience {
   padding-bottom: 100px;
}

.experience-box>div {
   width: 100px;
   height: 100px;
}

.experience-box h3 {
   text-align: center;
}

.experience-wrope>div>div>span {
   margin: 37% 0 0 15%;
   font-size: 28px;
}

.experience-box>div {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   margin: 0 auto;
}

section.portfolio {
   background-color: #ffdd9b;
   padding-bottom: 100px;
}

.folders {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   margin: 40px auto 0;
}

.folders>div {
   width: 85px;
   height: 40px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   background-color: #ebc985;
   border-radius: 4px;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   -webkit-box-shadow: -5px 4px 10px rgba(0, 0, 0, 0.5);
   box-shadow: -5px 4px 10px rgba(0, 0, 0, 0.5);
}

.folders>div>a {
   display: block;
   width: 100%;
   height: 100%;
   overflow: hidden;
   position: relative;
}

.folders>div:hover {
   background-color: #ffffff;
}

.folders>div>a {
   color: #27283d;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   text-transform: uppercase;
}

.i {
   margin-right: 10px;
}

.portfolio-wrope {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: distribute;
   justify-content: space-around;
   margin-top: 60px;
}

.column1,
.column2 {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.portfolio-wrope p {
   margin: 30px 0 60px 0;
   text-transform: uppercase;
   text-align: center;
}

.btn {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}

button.more-projects {
   background-color: #17c2a4;
   width: 290px;
   height: 70px;
   border-radius: 5px;
   color: #ffffff;
   font-size: 16px;
   text-transform: uppercase;
   cursor: pointer;
   -webkit-box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
   box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
}

.column1 img,
.column2 img {
   max-width: 100%;
}

section.about {
   background-color: #d74680;
}

.about h2,
.chapter_five p {
   color: #ffffff;
}

.about-wrope {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: distribute;
   justify-content: space-around;
   margin: 60px auto 0;
}

.about-column {
   max-width: 40%;
}

.feedback-box {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   margin-bottom: 15%;
}

.about-ball {
   width: 100px;
   height: 100px;
   background-color: #787878;
   border-radius: 50%;
   margin-right: 5%;
}

.feedback {
   max-width: 50%;
   padding-top: 10px;
   color: #fff;
}

.feedback h3 {
   margin-top: 5%;
   text-transform: uppercase;
}

.feedback>p:first-child {
   font-style: italic;
}

.feedback>p:nth-child(3) {
   color: #ffdd99;
}

section.get-in-touch {
   background-color: #3c5499;
}

form {
   width: 70%;
   margin: 60px auto 0;
}

.form {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

textarea,
input,
button {
   border: none;
}

input {
   width: 45%;
   height: 55px;
   background-color: #273a71;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
   color: #fff;
   padding-left: 10px;
}

textarea::-webkit-input-placeholder {
   padding-top: 10px;
}

textarea {
   width: 100%;
   height: 200px;
   margin: 30px 0 60px;
   background-color: #273a71;
}

textarea,
input {
   color: #fff;
   font-size: 18px;
}

button.btn-form {
   width: 290px;
   height: 70px;
   margin-bottom: 60px;
   background-color: #30bae7;
   color: #ffffff;
   font-size: 16px;
   text-transform: uppercase;
   border-radius: 4px;
   cursor: pointer;
   -webkit-box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
   box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
}

footer {
   height: 110px;
   background-color: #344b8e;
}

footer a {
   display: block;
   padding-top: 50px;
}

footer a:hover {
   color: #30bae7;
}

.foot {
   max-width: 70%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: distribute;
   justify-content: space-around;
   margin: 0 auto;
   height: inherit;
}

#up {
   position: fixed;
   right: 5px;
   bottom: 5px;
   cursor: pointer;
}

#up img {
   width: 50px;
   height: 50px;
}

.icon-mob {
   display: none;
}

/* ======= MEDIA  ========= */


@media only screen and (max-width: 800px) {

   .chapter_one p,
   .chapter_two p,
   .chapter_three p,
   .chapter_four p,
   .chapter_five p,
   p,
   h3,
   textarea,
   input,
   .menu li a {
      font-size: 14px;
   }

   .chapter_one h2,
   .chapter_two h2,
   .chapter_three h2,
   .chapter_four h2,
   .about h2,
   .chapter_six h2 {
      margin-top: 40px;
   }

   h2 {
      font-size: 16px;
   }

   h1 {
      font-size: 24px;
   }

   .servise-wrope {
      position: relative;
      display: block;
      margin-top: 40px;
   }

   .servise-wrope>div:nth-child(odd) {
      width: 45%;
      padding-bottom: 30px;
   }

   .servise-wrope>div:nth-child(2) {
      position: absolute;
      width: 45%;
      right: 0;
      top: 0;
      padding-bottom: 30px;
   }

   .servise-wrope>div:nth-child(4) {
      width: 45%;
      position: absolute;
      bottom: 0;
      right: 0;
      padding-bottom: 30px;
   }

   section.experience {
      padding-bottom: 40px;
   }

   .experience-wrope {
      margin-top: 40px;
   }

   .meet-wrope,
   .about-wrope,
   .portfolio-wrope,
   .folders,
   ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
   }

   ul {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: start;
   }

   .experience-wrope {
      display: block;
      position: relative;
      border: 2px dotted #17c2a4;
   }

   .experience-box {
      width: 45%;
   }

   .experience-wrope>div:nth-child(2) {
      position: absolute;
      top: 0;
      right: 0;
   }

   .experience-wrope>div:nth-child(4) {
      position: absolute;
      bottom: 0;
      right: 0;
   }

   .meet-wrope {
      margin-top: 40px;
      padding-bottom: 40px;
   }

   .meet-box {
      max-width: 100%;
   }

   .folders>div {
      width: 50%;
      margin-bottom: 5px;
   }

   .i {
      margin: 0 auto;
   }

   .column1 div,
   .column2 div,
   .sotials {
      margin: 0 auto;
   }

   .about-column {
      max-width: 100%;
   }

   .feedback-box {
      margin-bottom: 5%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
   }

   .meet-box h3 {
      margin: 0;
   }

   .servise-box h3 {
      margin-top: 30px;
   }

   footer {
      height: 70px;
   }

   .icon-mob {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
   }

   .icon-mob a {
      width: 25px;
      display: block;
      padding-top: 25px;
      margin-right: 5px;
   }

   footer>div a {
      padding-top: 0;
   }

   .icon-mob a img {
      width: 100%;
   }

   .foot {
      display: none;
   }
   
}

/*# sourceMappingURL=style.css.map */
